.lista-fornecedores-container {
  max-width: 1400px;
  margin-top: 70px;
 margin-left: 50px;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease-in-out;
}

.fornecedores-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 70px;
}

.fornecedor {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px ;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  width: 400px;
}

.fornecedor:hover {
  transform: scale(1.05);
}

.fornecedor p {
  margin: 5px 0;
  color: #333;
  font-size: 14px;
 
}

.fornecedor-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.editar-link, .excluir-button {
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.editar-link {
  background-color: #007bff;
  color: #fff;
}

.editar-link:hover {
  background-color: #0056b3;
}

.excluir-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
}

.excluir-button:hover {
  background-color: #c82333;
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(-10px); }
  100% { opacity: 1; transform: translateY(0); }
}

@media screen and (max-width: 768px) {
  .lista-fornecedores-container {
    width: 80%;
    padding: 10px;
    margin-right: 10px;
  }
  .fornecedor {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px ;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 340px;
  }

  .fornecedores-grid {
    grid-template-columns: 1fr;
  }

  .fornecedor-buttons {
    flex-direction: column;
    align-items: flex-start;
  }

  .editar-link, .excluir-button {
    width: 40%;
    text-align: center;
    margin-top: 5px;
  }
}
